.card {
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    padding: 30px;
    width: 220px;
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
  
    &:hover {
      box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);
      transform: translateY(-5px);
    }
  
    .favorite {
      position: absolute;
      cursor: pointer;
    } 
  
    h5 {
      font-size: 14px;
      font-weight: 400;
    }
  
    span {
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;
  
      color: #BDBDBD;
    }
  }
  
  .button {
    width: 32px;
    height: 32px;
  
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
  }